<h1>Juego - Simil TEG</h1>

<p>

Atacante <%= @@juego.ultimos_dados[0] %> - <%= @@juego.ultimos_dados[1] %> Defensor<br>
Cantidad de Paises <br>
Jugador 1 : <%= @@juego.paises_jugador1	 %> <br>
Jugador 2 : <%= @@juego.paises_jugador2	 %><br>
<form method="POST" action="/atacar" >
	<input type="submit" value="Atacar">
</form>
<br>
<br>
Ataques restantes: <%= @@juego.ataques_de_turno%>
<br>
Turno: Jugador <%= @@juego.turno %>

